<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Owners</title>
</head>
<body>
<h1 th:text="'List of Owners'">Owners List</h1>

<table>
    <thread>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
        </tr>
    </thread>

    <tbody>
    <tr th:each="owner:${owners}">
        <td th:text="${owner.id}">1</td>
        <td th:text="${owner.name}">Ann</td>
        <td th:text="${owner.surname}">Rice</td>
    </tr>
    </tbody>
</table>
</body>
</html>