<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
<h2 th:text="'List of Vets'">Vets List</h2>
<table id="vets" class="table table-striped">
    <thread>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
        </tr>
    </thread>

    <tbody>
    <tr th:each="vet:${vets}">
        <td th:text="${vet.id}">1</td>
        <td th:text="${vet.name}">Ann</td>
        <td th:text="${vet.surname}">Rice</td>
    </tr>
    </tbody>
</table>
</body>
</html>